<%= provide(:title,'feed')%>

<body>

	<div class="container-fluid " id="post-index">
		<div class="row">
			<div class="col-2">
				<div class="link-wrap p-1">
					<a href="<%= user_path(current_user.id)%>">
						<% if current_user.avatar.attached? %>
						<%= image_tag current_user.avatar.reverse.first, class: "img-fluid profile-avatar" %>
						<%= current_user.lastname.capitalize %>
						<% else %>
						<img src="<%= asset_path('default_avatar.png')%>" alt="default_avatar">
						<%= current_user.lastname.capitalize %>
						<% end %>
					</a> <br>

					<div class="mt-2"><i class="fa fa-desktop"></i> some random link</div> <br>
					<span>Shortcut</span><br>
					<a href="#"><i class="fa fa-desktop"></i> some random link</a> <br>
					<a href="#"><i class="fa fa-desktop"></i> some random link</a> <br>
					<a href="#"><i class="fa fa-desktop"></i> some random link</a> <br>
					<a href="#"><i class="fa fa-desktop"></i> some random link</a> <br>
					<a href="#"><i class="fa fa-desktop"></i> some random link</a> <br>
					<span class="mt-1">Explain</span><br>
					<a href="#"><i class="fa fa-desktop"></i> some random link</a> <br>
					<a href="#"><i class="fa fa-desktop"></i> some random link</a> <br>
				</div>
			</div>
			<div class="col-5">
				<div class="main">
					<div class="topmost">
						<div class="card mt-2">
							<div class="card-header">
								Create Post
							</div>
							<div class="card-body">

								<!-- Button trigger modal -->
								<button type="button" class="btn poster p-3" data-toggle="modal" data-target="#exampleModal">
									What is on your mind ?
								</button>
							</div>
							<div class="card-footer">
								<img src="<%= asset_path('uploader.png')%>" alt="photo-upload">
								<img src="<%= asset_path('feeling.png')%>" alt="photo-upload">
								<img src="<%= asset_path('tag.png')%>" alt="photo-upload">
							</div>
						</div>
					</div>


					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<%= form_for(:post, url: posts_path) do |f| %>
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Create Post</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>

								<div class="modal-body">
									<div class="field">
										<%= f.text_area :postcontent, placeholder: " What is on your mind ?", class: "form-control" %>
									</div>
									<div class="field">
										<%= f.file_field :avatar, multiple: true, placeholder: " attach image to post", class: "form-control" %>
									</div>
								</div>
								<div class="modal-footer">
									<%= f.submit "post" ,class: "btn btn-primary postBut" %>
								</div>
								<% end %>
							</div>
						</div>
					</div>













					<div class="next-to-topmost">
						<div class="card mt-2">

							<div class="card-body">

								<div class="row">
									<div class="col-3 p-1">
										<div class="sect"></div>
									</div>
									<div class="col-3 p-1">
										<div class="sect"></div>
									</div>
									<div class="col-3 p-1">
										<div class="sect"></div>
									</div>
									<div class="col-3 p-1">
										<div class="sect"></div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<% current_user.and_friends.each do | p | %>
					<div class="posted">
						<div class="card mt-2">
							<div class="card-body">
								<div class="photo-and-name">
									<% if p.avatar.empty? %>

									<a href="#">
										<% if p.author.avatar.attached? %>
										<%= image_tag p.author.avatar.reverse.first, class: "img-fluid profile-avatar" %>
										<%= p.author.lastname.capitalize %>
										<% else %>
										<img src="<%= asset_path('default_avatar.png')%>" alt="default_avatar">
										<%= p.author.lastname.capitalize %>
										<% end %>
									</a>
									<i class="fa fa-ellipsis-h float-right"></i>
									<div class="text-content p-1 mt-1">
										<p> <%= p.postcontent[0..50] %><%= link_to '...more', post_path(p.id) %></p>
									</div>

									<% else %>

									<a href="#">
										<% if p.author.avatar.attached? %>
										<%= image_tag p.author.avatar.first, class: "img-fluid profile-avatar" %>
										<%= p.author.lastname.capitalize %>
										<% else %>
										<img src="<%= asset_path('default_avatar.png')%>" alt="default_avatar">
										<%= p.author.lastname.capitalize %>
										<% end %>
									</a>
									<i class="fa fa-ellipsis-h float-right"></i>
									<div class="text-content p-1 mt-1">
										<p> <%= p.postcontent[0..50] %><%= link_to '...more', post_path(p.id) %></p>
									</div>
									<%= image_tag p.avatar.first, class: "img-fluid " %>

									<% end %>

								</div>
								<br>
								<div class="tally-table d-flex justify-content-around">
									<small><%= pluralize(p.likes.count,'like') %></small>
									<small><%= pluralize(p.comments.count,'comment') %></small>
								</div>
								<hr>
								<div class="d-flex justify-content-around">
									<% if !current_user.liked_posts.ids.include?(p.id)  %>
									<i>
										<%= form_for(@like, :url => likes_path,:remote => true )do | f | %>
										<%= f.hidden_field :post_id, :value => "#{p.id}" %>
										<%= f.hidden_field :status, :value => true %>
										<%= f.submit "Like", class: "btn btn-info pl-5 pr-5" %>
										<% end %>
									</i>
									<% else %>
									<i>
										<%= link_to 'unlike', like_path(current_user.likes.ids ), class: 'btn btn-info pl-5 pr-5', method: :delete %>
									</i>
									<% end %>
									<a href="#" class="btn btn-info pl-4 pr-4"><i class="fa fa-comment ">
											comment</i></a>
									<a href="#" class="btn btn-info pl-5 pr-5"><i class="fa fa-share "> share</i></a>
								</div>

							</div>

							<div class="card-footer d-flex justify-content-between">
								<aside class="left">
									<% if current_user.avatar.attached? %>
									<%= image_tag current_user.avatar.reverse.first, class: "img-fluid profile-avatar" %>
									<% else %>
									<img src="<%= asset_path('default_avatar.png')%>" alt="default_avatar">
									<% end %>
								</aside>
								<aside class="right">
									<%= form_for(@comment, :url => comments_path,:remote => true )do | f | %>
									<%= f.hidden_field :post_id, :value => "#{p.id}" %>
									<%= f.text_field :commentary, placeholder: "say something", class: 'form-control right-input' %>
									<%= f.submit :send, class: 'd-none' %>
									<% end %>
								</aside>
							</div><br>

							<% p.comments.each do | com | %>
							<div class="commentary-box d-flex justify-content-between p-2">

								<span>
									<% if com.commentator.avatar.attached? %>
									<%= image_tag com.commentator.avatar.reverse.first, class: "img-fluid profile-avatar" %>
									<% else %>
									<img src=" <%= asset_path('default_avatar.png')%>" alt="default_avatar">
									<% end %>
								</span>

								<span class="right-comment"><%= com.commentary %></span>

							</div>
							<% end %>

						</div>
					</div>
					<% end %>

				</div>
			</div>


			<div class=" col-3">
				<div class="aside-main">
					<div class="suggested">
						<div class="card mt-2">
							<div class="card-body">
								<span class="p-1 pr-1 small">Suggested Pages <a href="#" class="float-right pr-1">see
										all</a></span>

								<div class="suggested-wrap mt-1">
									<div class="suggested-likes">
										<p class="text-center small p-2">30.4k likes</p>
									</div>

									<div class="suggested-page-name small">
										<img src="<%= asset_path('ot.jpg') %>" alt="suggested-page-image-logo">Somme
										Title
									</div>

									<div class="suggested-page-image mt-2">
										<img src="<%= asset_path('ot.jpg') %>" alt="suggested-page-image">

									</div>
									<i class="fa fa-thumbs-up mt-3" style="margin-left: 40%"> like</i>



								</div>


							</div>

						</div>

						<div class="card mt-2">
							<div class="card-body d-flex">
								<span class="lang p-1 pr-1">English (US) · Français (France) · Português
									(Brasil) ·
									Español ·
									Deutsch
								</span>
								<i class="fa fa-plus p-1"></i>
							</div>
						</div>


					</div>
				</div>
			</div>


			<div class="col-2 p-0">
				<div class="chat-side">
					<div class="instant-game">
						<img src="<%= asset_path('one.png') %>" alt="instant-game">
					</div>
					<div class="your-game">
						<img src="<%= asset_path('two.png') %>" alt="your-game">
					</div>
					<div class="chats">

					</div>
				</div>
			</div>


		</div>
	</div>

</body>