<body>
	<div class="container">
		<div class="row">
			<div class="col-6 mx-auto">
				<div class="card">
					<div class="car-header">

					</div>
					<div class="card-body">
						<p><%= @post.postcontent %></p>
						<br>
						<div class="tally-table d-flex justify-content-around">
							<small><%= @post.likes.where(status: true).count %> like(s)</small>
							<small><%= @post.comments.count %> comment(s)</small>
						</div>
					</div>

					<div class="card-footer">
						<div class="d-flex justify-content-around">
							<% if user_like_post?( true, current_user.id, @post.id ) == false %>
							<i>
								<%= form_for(@like, :url => likes_path,:remote => true )do | f | %>
								<%= f.hidden_field :post_id, :value => "#{@post.id}" %>
								<%= f.hidden_field :status, :value => true %>
								<%= f.submit "Like", class: "btn btn-info pl-5 pr-5" %>
								<% end %>
							</i>
							<% else %>
							<i>
								<%= link_to 'unlike', like_path(unlike_id(true, current_user.id, @post.id) ), class: 'btn btn-info pl-5 pr-5', method: :delete %>
							</i>
							<% end %>
							<a href="#" class="btn btn-info pl-4 pr-4"><i class="fa fa-comment ">
									comment</i></a>
							<a href="#" class="btn btn-info pl-5 pr-5"><i class="fa fa-share "> share</i></a>
						</div>


						<div class="card-footer d-flex justify-content-between">
							<aside class="left">
								<% if @post.author.avatar.attached? %>
								<%= image_tag @post.author.avatar.first, class: "img-fluid profile-avatar" %>
								<% else %>
								<img src="<%= asset_path('default_avatar.png')%>" alt="default_avatar">
								<% end %>
							</aside>
							<aside class="right">
								<%= form_for(@comment, :url => comments_path,:remote => true )do | f | %>
								<%= f.hidden_field :post_id, :value => "#{@post.id}" %>
								<%= f.text_field :commentary, placeholder: "say something", class: 'form-control right-input' %>
								<% end %>
							</aside>
						</div><br>
						<% @post.comments.each do | com | %>
						<div class="commentary-box d-flex justify-content-between p-2">

							<span>
								<% if com.commentator.avatar.attached? %>
								<%= image_tag com.commentator.avatar.reverse.first, class: "img-fluid profile-avatar" %>
								<% else %>
								<img src=" <%= asset_path('default_avatar.png')%>" alt="default_avatar">
								<% end %>
							</span>

							<span class="right-comment"><%= com.commentary %></span>

						</div>
						<% end %>


					</div>
				</div>
			</div>
		</div>
	</div>
</body>