<!DOCTYPE html>
<html>
<title><%= yield(:title)%> | facebook</title>
<%= render 'components/header' %>
<%= render 'components/shims' %>

<body>
  <% if is_signup_path? %>
  <%= render 'components/signup_nav' %>
  <% else %>
  <%= render 'components/navi' %>
  <% end %>

  <%= render 'components/flash' %>
  <%= yield %>
</body>

</html>